<path_to_local_repo>
<head>
<title>Maddie's Flower Shop</title>
<style> h1 {
color: purple;
border-style: none none double double;
border-colour: pink;
padding-left: 20px;}
.product {
border-style: solid;
border-colour: pink;
padding: 20px;
display: inline;}
.product {
border-style: solid;
border-colour: pink;
padding: 20px;}
</style>
</head>
<body>
<h1> Flowers for all occasions </h1>
<img class="product" src="https://s7img.ftdi.com/is/image/ProvideCommerce/PF_18_B337_LAY_SHP_V1?$proflowers-tile-wide-mv-new$" alt="Picture of a bunch of flowers" width = 400px/>
<img class="product" src="http://www.whealsaraflowers.co.uk/wp-content/uploads/2017/06/just_flowers_005.jpg" alt="Product 2 flowers" width = 400px/>
<p class="product1"> Product 1 </p>
<p class="product"> Product 2 </p>
<a href="https://maddiefleming.bitbucket.io/page2.html">Page 2</a> 
</body>